*, *:before, *:after {
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
    box-sizing:border-box
}

html {
    font-family:sans-serif;
    -ms-text-size-adjust:100%;
    -webkit-text-size-adjust:100%
}

html, body {
    font-size:100%
}
body {
    margin:0;
    background:#fff;
    color:#222;
    padding:0;
    margin:0;
    font-family: "Open Sans", "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
    font-weight:normal;
    font-style:normal;
    line-height:1;
    position:relative;
    cursor:default;
}
a {
    background:transparent;
}
a:focus {
    outline:thin dotted;
}
a:active, a:hover {
    outline:0;
}
a:hover {
    cursor:pointer;
}
h1 {
    font-size:2em;
    margin:0.67em 0;
}

.row {
    width:100%;
    margin-left:auto;
    margin-right:auto;
    margin-top:0;
    margin-bottom:0;
    max-width:62.5rem;
    *zoom:1;
}
.row:before, .row:after {
    content:" ";
    display:table;
}
.row:after {
    clear:both;
}
.column, .columns {
    position:relative;
    padding-left:0.9375rem;
    padding-right:0.9375rem;
    width:100%;
    float:left;
}
@media only screen {
    .column, .columns {
        position:relative;
        padding-left:0.9375rem;
        padding-right:0.9375rem;
        float:left;
    }
    .small-12 {
        position:relative;
        width:100%;
    }
    [class*="column"]+[class*="column"]:last-child {
        float:right;
    }
    [class*="column"]+[class*="column"].end {
        float:left;
    }
    .columns.small-centered {
        position:relative;
        margin-left:auto;
        margin-right:auto;
        float:none !important;
    }
}

h1, p {
    margin:0;
    padding:0;
    direction:ltr;
}
a {
    color:#008cba;
    text-decoration:none;
    line-height:inherit;
}
a:hover, a:focus {
    color:#0079a1;
}

p {
    font-family:inherit;
    font-weight:normal;
    font-size:1rem;
    line-height:1.6;
    margin-bottom:1.25rem;
    text-rendering:optimizeLegibility;
}
h1 {
    font-family:"Open Sans", "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
    font-weight:300;
    font-style:normal;
    font-size:2.125rem;
    color:#222;
    text-rendering:optimizeLegibility;
    margin-top:0.2rem;
    margin-bottom:0.5rem;
    line-height:1.4;
}

@media only screen and (min-width: 40.063em) {
    h1 {
        line-height:1.4;
        font-size:2.75rem;
    }
}
