@charset "UTF-8";

@import
  "normalize",
  "foundation",
  "dfc/_variables",
  "dfc/_mixins",
  "dfc/_global",
  "dfc/_table",
  "dfc/_visibility",
  "dfc/_forms",
  "dfc/_input",
  "dfc/_output",
  "dfc/_chart",
  "dfc/_docs";
