// Make sure the charset is set appropriately
@charset "UTF-8";

// Foundation components being used
@import
  "foundation/components/type",
  "foundation/components/buttons",
  // "foundation/components/dropdown",
  // "foundation/components/dropdown-buttons",
  "foundation/components/forms",
  "foundation/components/grid",
  // "foundation/components/labels",
  "foundation/components/tables",
  // "foundation/components/offcanvas",
  "foundation/components/visibility";
