@import "../foundation/components/_grid";

html, body, input, select, button {
    font-family: "Open Sans", "Helvetica Neue", Arial, sans-serif;
}

html, body {
    background: #efefef;

    @media #{$bp-table} {
        background: #fff;
    }
}

[class*="column"] + [class*="column"]:last-child {
    float: left; // Override Foundation so when there are two items in a 3x3 grid they don't leave an empty column between them
}

@media (max-width: 30em) {
    h1.subheader {
        font-size: 1.3rem;
        line-height: 1.2;
    }
}

h1 {
    font-size: 1.75rem;

    a,
    a:hover {
        color: inherit;
    }
}

p a {
    text-decoration: underline;

    &:hover,
    &:focus,
    &:active {
        text-decoration: none;
    }
}

[role="main"] {
    margin-bottom: 2rem;
}

// Left-align headers (override Foundation)
@media only screen and (min-width: 64.063em) {
    // Header
    [role="header"] .columns {
        padding-left: 0.3%;
    }

    // Sub-header
    [role="header"] + .row .columns {
        padding-left: 0.6%;
    }
}

.table-header {
    display: none;

    @media #{$bp-table} {
        display: block;
        min-height: 2rem;
        line-height: normal;
        vertical-align: middle;
        font-weight: 600;
    }
}

// Table grid classes
@media #{$bp-table} {
    @include grid-html-classes($size:table);
}

[data-sort] {
    position: relative;
    text-decoration: underline;

    &:hover,
    &:focus,
    &:active {
        text-decoration: none;
    }

    &.sorted {
        &::before {
            content: " ";
            position: absolute;
            top: 0.1rem;
            left: -0.2rem;
        }

        &[data-sort-dir="desc"]::before {
            top: 0.6rem;
            @include css-triangle(6px, #444, top);
        }

        &[data-sort-dir="asc"]::before {
            @include css-triangle(6px, #444, bottom);
        }
    }
}
