@import "../foundation/components/_grid";

html, body, input, select, button {
    font-family: "Open Sans", "Helvetica Neue", Arial, sans-serif;
}

html, body {
    background: #efefef;
}

[class*="column"] + [class*="column"]:last-child {
    float: left; // Override Foundation so when there are two items in a 3x3 grid they don't leave an empty column between them
}

@media (max-width: 30em) {
    h1.subheader {
        font-size: 1.3rem;
        line-height: 1.2;
    }
}

h1 {
    font-size: 1.75rem;

    a,
    a:hover {
        color: inherit;
    }
}

p a {
    text-decoration: underline;

    &:hover,
    &:focus,
    &:active {
        text-decoration: none;
    }
}

[role="main"] {
    margin-bottom: 2rem;
}

// Left-align headers (override Foundation)
@media only screen and (min-width: 64.063em) {
    // Header
    [role="header"] .columns {
        padding-left: 0.3%;
    }

    // Sub-header
    [role="header"] + .row .columns {
        padding-left: 0.6%;
    }
}

.table-header {
    display: none;

    @media #{$bp-table} {
        display: block;
    }
}

// Table grid classes
@media #{$bp-table} {
    @include grid-html-classes($size:table);
}
