// Lens configuration containers
.lens {
    position: relative;
    background-color: #fff;

    h3 {
        font-size: 1rem;
        font-weight: 700;
        margin-top: 0.5rem;
        padding: 0 0.25rem;
        height: 1.9rem;
        line-height: 1.9rem;

        &:hover,
        &:focus,
        &:active {
            background-color: #ffc;
            background-color: rgba(255, 203, 0, 0.1);
            outline: none;
            box-shadow: 0 0 5px #999;
            cursor: text;
        }
    }
}

@media only screen and (min-width: 40.063em) {
    .lens.medium-6 {
        width: 48%;
        margin-left: 1%;
        margin-right: 1%;
    }
}

@media (min-width: 64em) { // 1024px
    .lens.large-4 {
        width: 32%;
        margin-left: 0.6%;
        margin-right: 0.6%;
    }
}

// Trim some of the default padding
.inputs {
    .columns {
        padding-left: $input-column-padding;
        padding-right: $input-column-padding;
    }

    // Foundation overrides
    input[type="number"] {
        padding: 0.25rem 0.5rem;
        height: 2rem;
        font-size: 1rem;
    }

    select {
        font-size: 1rem;
        padding: 0.25rem;
    }
}

// Delete link
.action-buttons {
    position: absolute;
    bottom: 0.5em;
    left: 0.5em;

    a {
        font-size: 12px;
        text-decoration: underline;

        &:hover,
        &:focus,
        &:active {
            text-decoration: none;
        }

        &.delete {
            color: darken(#bd240d, 10%);
        }

        &.reset {
            margin-left: 1rem;
        }
    }

    .table & {
        position: static;
        bottom: auto;
        left: auto;
    }
}


.ghost {
    border: 1rem dashed #ddd;
    background: transparent;
    border-radius: 0.375rem;
    cursor: pointer;
    @include transition(border-color 100ms ease-in, background 100ms ease-in);

    &:focus,
    &:hover {
        background: #ddd;
        border-color: #ccc;

        div {
            color: #666;
        }
    }

    div {
        font-size: 2rem;
        color: #999;
        text-align: center;
        margin: 4.45rem auto;
        @include transition(color 100ms ease-in);
    }
}
