.outputs {
    width: 100%;
    margin-bottom: 0;

    [readonly] {
        border: none;
    }

    dt {
        width: 55%;
    }

    dd {
        width: 45%;
    }

    .output-toggle {
        display: inline;
        margin: 0 0 0 0.5rem;
        padding: 0.5rem 0.75rem;

        span {
            display: none;

            &:first-child {
                display: inline;
            }
        }
    }

    &.collapsed {
        margin-bottom: 1.75rem;

        // Hide all but first row
        dt:not(.dof-display),
        dd:not(.dof-display) {
            display: none;
        }

        .output-toggle span {
            display: inline;

            &:first-child {
                display: none;
            }
        }

        @media #{$bp-table} {
            margin-bottom: 0
        }
    }

    &.row {
        margin-bottom: 1.6rem;

        @media #{$bp-table} {
            margin-bottom: 0
        }
    }

    @media #{$bp-table} {
        margin-bottom: 0;

        dt,
        dd {
            width: auto;
        }
    }
}

.dof-display {
    font-size: 1.25rem;
    font-weight: bold;

    @media #{$bp-table} {
        font-size: 1rem;
    }
}

.dof {
    font-family: Menlo, Consolas, monospace;
    color: green;
}

// Adapted form Bootstrap v3.0.3 (http://getbootstrap.com)
dl {
  margin-top: 0;
  margin-bottom: 20px;
}

dt,
dd {
  line-height: 1.428571429;
}

dt {
  font-weight: bold;
}

dd {
  margin-left: 0;
}

.dl-horizontal {
    // border: solid 1px #ddd;

    dt {
        float: left;
        width: 160px;
        overflow: hidden;
        clear: left;
        text-align: right;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    dd {
        margin-left: 180px;

        &:before,
        &:after {
            display: table;
            content: " ";
        }

        &:after {
            clear: both;
        }
    }

    @media #{$bp-table} {
        dt {
            clear: none;
            width: auto;
        }

        dd {
            margin-left: 0;
        }
    }
}

.focal-length-equiv-title {
    display: block;
    font-size: 0.6rem;
}

.focalLengthEquiv {
    font-size: 0.8rem;
}

@media (min-width: 34em) and (max-width: 40em) {
    .focal-length-equiv-title,
    .focalLengthEquiv {
        display: inline-block;
        margin-top: 0.6rem;
    }

    .focal-length-equiv-title {
        font-size: 0.8rem;
        margin-left: 0.5rem;
    }

    .focalLengthEquiv {
    }
}
