@import "../foundation/components/_grid";

@media #{$bp-table} {
    .table-header > .row {
        display: block;
        min-height: 2rem;
        line-height: normal;
        vertical-align: middle;
        font-weight: 600;
    }
}

@media #{$bp-table-max} {
    [role="main"] {
        margin-top: 1.6rem;
        position: relative;
    }

    .sort-toggle {
        position: absolute;
        top: -2.4rem;
        left: 0.5rem;

        // Override Foundation button styles
        &.button {
            padding-top: 0.5rem; // 0.875rem;
            padding-right: 2rem; // 1.75rem;
            padding-bottom: 0.4rem; // 0.9375rem;
            padding-left: 0.75rem; // 1.75rem;
        }

        &::before {
            content: " ";
            position: absolute;
            top: 0.7rem;
            right: 0.75rem;
            @include css-triangle(6px, #444, top);
        }
    }

    .table-header > .row {
        display: none;

        &.expanded {
            display: block;
            position: absolute;
            top: -0.2rem;
            left: 1.5rem;
            max-width: 12rem;
            background-color: #eee;
            border: 1px solid #ddd;
            border-radius: 0.25rem;
            z-index: 2;

            .columns {
                width: 100%;
                margin: 0;
                padding: 0.5rem 0.5rem 0.5rem 2rem;
                text-decoration: none;
                border-bottom: $lens-table-border;
                @include transition(background 150ms ease-in);

                &:last-child {
                    border-bottom: none;
                }

                &:hover {
                    background: #dadada;
                }
            }
        }
    }
}

// Table grid classes
@media #{$bp-table} {
    @include grid-html-classes($size:table);
}

[data-sort] {
    position: relative;
    text-decoration: underline;
    cursor: pointer;

    &:hover,
    &:focus,
    &:active {
        text-decoration: none;
    }

    &.sorted {
        &::before {
            content: " ";
            position: absolute;
            top: 0.1rem;
            left: -0.2rem;
        }

        &[data-sort-dir="desc"]::before {
            top: 0.6rem;
            @include css-triangle(6px, #444, top);
        }

        &[data-sort-dir="asc"]::before {
            @include css-triangle(6px, #444, bottom);
        }
    }
}
