$lens-table-border: 1px solid #ddd;
$input-column-padding: 0.5rem !default;

$bp-table-width: 60em !default; // 960px
$bp-table-width-max: 59.9375em !default; // 959px

$bp-table: "(min-width: #{$bp-table-width})" !default;
